.modalContent {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; /* Cambia a flex-start para alinear desde el inicio */
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white; 
  border-radius: 12px; 
  padding: 20px; 
  width: 400px; 
  max-width: 90%; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  animation: fadeIn 0.3s ease-in-out; 
  overflow-y: auto; /* Permitir scroll vertical */
  max-height: 80vh; /* Altura máxima del modal */
}

.modalInner {
  padding: 10px; /* Espaciado interno */
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.5); 
  z-index: 999; 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.lista {
  list-style-type: square; 
  padding-left: 20px; 
  color: #333; 
}

.content {
  flex-grow: 1; /* Para permitir que el contenido crezca y use el espacio disponible */
  overflow-y: auto; /* Asegurarse de que el contenido se desplace si es necesario */
}

.closeButton {
  background-color: var(--primary-color); 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  font-size: 16px; 
  margin-top: 20px; 
}

.closeButton:hover {
  background-color: var(--secundary-color); 
}
