@tailwind base;
@tailwind components;
@tailwind utilities;

.containerPrincipal{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}
:root{
    --primary-color: #3758F9;
    --secundary-color: #E9F9FF;
    --tertiary-color: #13C296;
    --cuartiary-color: #e8ebfd;
}